@import 'nib'

// Theme Variables
$fgColor = #fff
$bgColor = rgba(255,255,255, 0.1)
$borderColor = rgba(255,255,255,0.3)
$inputColor = rgba(255,255,0,1)


//Mixins
// with genGrid we can pregenerate CSS for 2,3,4 gridSizes
genGrid($gridSize)
	$cellSize = (10px * $gridSize)
	$width = ((($cellSize + 8) * $gridSize + 2)* $gridSize)

	width ($width)
	//transform scale($scale)

	.grid-align:nth-child({$gridSize}n+1)
		clear both
	
	.cell, .cell-value			
		width $cellSize
		height $cellSize
	
	.cell-value
		line-height $cellSize
		
	
// Style
body
	padding 0
	margin 0
	font-family 'Open Sans', Arial, sans-serif
	font-size 16px
	color $fgColor
	
body
	background url('assets/drop.jpg') no-repeat
	background-size cover

.center-align
	position relative
	left 50%
	transform translateX(-50%)

#sudoku-container
	box-sizing border-box
	margin-top 30px
	overflow hidden
	display inline-block

	.title
		text-transform uppercase
		text-align center
		opacity 0.5
		margin-bottom 30px
		letter-spacing 8px
		
	#sudoku-grid
		border 2px solid $borderColor
		text-align center
		box-sizing content-box

		&:after
			display block
			content " "
			clear both
		
		// Use CSS to align to 9x9 grid
		.grid-align
			float left
		
		.cell-container, .cell
			border 1px solid $borderColor
			
		.cell
			box-sizing content-box
			background $bgColor
			padding 3px
			position relative
						
			.cell-value
				position absolute
						
			.cell-hints
				display none
				
				.cell-hint
					font-size 8px
					height 10px
					width 10px
					line-height 10px
		
			&.editable
				cursor pointer
				background none
				
				.cell-value, .cell-hints
					color $inputColor
				
				.cell-hints.show-hints
					display block
				
		
		// Dynamically generate classes for different grid sizes			
		&.grid2		
			genGrid(2)
		&.grid3
			genGrid(3)
		&.grid4
			genGrid(4)
			
	.btn-bar
		position relative
		
		.btn
			box-sizing border-box
			float left
			width 48%
			text-align center
			margin-top 20px
			padding 10px
			border 1px solid $borderColor
			border-radius 5px
			color $inputColor
			background-color $bgColor
			cursor pointer
			transition background-color 0.2s
			
			&:hover, &.selected
				background-color alpha($bgColor, 0.3)
			
			&.left
				float left
			&.right
				float right
				
		&:after
			content " "
			width 0
			height 0
			clear both
