@import 'nib'

// Theme Variables
$fgColor = #fff
$bgColor = rgba(0,0,0, 0.5)
$borderColor = rgba(255,255,255,0.2)
$inputColor = #cc8800


//Mixins
// with genGrid we can pregenerate CSS for 2,3,4 gridSizes
genGrid($gridSize)
	$cellSize = (10px * $gridSize)
	$width = ((($cellSize + 8) * $gridSize + 2)* $gridSize)

	width ($width)
	//transform scale($scale)

	.grid-align:nth-child({$gridSize}n+1)
		clear both
	
	.cell			
		width $cellSize
		height $cellSize
	
	.cell-value
		line-height $cellSize
		
	
// Style
body
	padding 0
	margin 0
	font-family 'Open Sans', Arial, sans-serif
	font-size 16px
	color $fgColor
	
body, .blur-bg
	background url('assets/crescent.jpg') no-repeat
	background-size cover

.blur-bg
	position absolute
	width 100vw
	height 100vh
	-webkit-filter blur(20px) brightness(30%)
	-background-position -40px -40px

.sudoku-container
	box-sizing border-box
	padding 20px
	margin 20px
	background-color $bgColor
	border-radius 20px
	position absolute
	overflow hidden
	//left 50%
	//top 50%
	//transform translateX(-50%) //translateY(-50%)

	.title
		text-transform uppercase
		text-align center
		opacity 0.5
		margin-bottom 30px
		
	#sudoku-grid
		position relative
		border 2px solid $borderColor
		//left 50%
		//transform translateX(-50%)
		text-align center
		box-sizing content-box

		&:after
			display block
			content " "
			clear both
		
		// Use CSS to align to 9x9 grid
		.grid-align
			float left
		
		.cell-container, .cell
			border 1px solid $borderColor
			
		.cell
			box-sizing content-box
			padding 3px
			
			&.input
				cursor pointer
				
				.cell-value, .cell-hints
					color $inputColor
				
				.cell-hints
					display block
					
				.cell-value
					display none
					
				
			.cell-hints	
				display none
				
				.cell-hint
					font-size 8px
					height 10px
					width 10px
					line-height 10px
		
		// Dynamically generate classes for different grid sizes			
		&.grid2		
			genGrid(2)
		&.grid3
			genGrid(3)
		&.grid4
			genGrid(4)
