html
	head
		title Uber Sudoku
		link(type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' )
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		link(type='text/css' href='style.css' rel='stylesheet' )

		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript' src='script.js')

	body
		h1 Uber Sudoku
		p Hello World

